## 500city_explore - Exploring the data from 500 cities data set

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Import cleansed data sets

In [19]:
data = pd.read_csv('../data/cleansed/data.csv',index_col=0,header=[0,1])
locations = pd.read_csv('../data/cleansed/locations.csv',index_col=0)

In [20]:
locations.head()

,uniqueid,stateabbr,cityname,geographiclevel,tractfips,cityfips,statedesc,latitude,longitude
6325,0107000,AL,Birmingham,City,NaN,107000.0,Alabama,-86.798817,33.527566
40098,0107000-01073000100,AL,Birmingham,Census Tract,1.073000e+09,107000.0,Alabama,-86.722832,33.579433
2125,0107000-01073000300,AL,Birmingham,Census Tract,1.073000e+09,107000.0,Alabama,-86.752434,33.542821
20523,0107000-01073000400,AL,Birmingham,Census Tract,1.073000e+09,107000.0,Alabama,-86.764047,33.563245
1727,0107000-01073000500,AL,Birmingham,Census Tract,1.073000e+09,107000.0,Alabama,-86.774913,33.544240